.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* extraer a otros archivos css de aca para abajo */

table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}

.fondo-oscuro {
   background:
   /* top, transparent black, faked with gradient */
   linear-gradient(
     rgba(0, 0, 0, 0.7),
     rgba(0, 0, 0, 0.7)
   )
}

.letra-blanca {
  color: white;
}

.letra-negra {
   color: black;
}

.pointer {
  cursor: pointer;
}

.alerta-futpal {
  margin-top: 10px;
}

/* PantallaInicial */
.mensaje-bienvenida-inicio {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;

   position: absolute;
   top: 40%;
   left: 25%;
   right: 25%;

   z-index: -1;
}

/* SignUp */
.titulo-signup {
  text-align: center;
}

/* Log In*/
.titulo-login {
  text-align: center;
}

/* Creación liga*/
.confirmacion-liga {
  margin-top: 20px;
}

.navbar-seccion-derecha {
    position: absolute;
    right: 150px;
}

@media (max-width: 991px) {
    .navbar-seccion-derecha {
        position: inherit;
    }
}

/* Balances */
.total-positivo {
    background: #90ee90;
    color: #006400;
}

.total-negativo {
    background: #ffcccb;
    color: #8b0000;
}
